name: Migration
on:
  push:
    branches:
    - master
  pull_request: 
    branches:
    - master
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - uses: joshuaavalon/flyway-action@v3.0.0
        with:
          url: ${{secrets.DATA_URL}}
          user: ${{secrets.DATA_USER}}
          password: ${{secrets.DATA_PASSWORD}}
          locations: ${{secrets.DATA_LOCATION}}
      - run: echo 'testing'
